body {
  font-family: Arial, sans-serif;
  background-color: #b81818;
  margin: 0px;
  padding: 0px;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  /* margin: 10px; */
  border: 3px green solid;
  padding: 12px;
  /*
  MBPC
  My busted PC
  */
}

/* Select an element with the myContainer class */
.myContainer {
  display: grid;
  width: 80%;

  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100px 300px 200px 50px 300px;
  grid-gap: 30px;
}
