body {
  font-family: Arial, sans-serif;
  background-color: #b81818;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px 20px 30px 90px;
  border: 3px green solid;
  padding: 12px;
  /*
  MBPC
  My busted PC
  */
}
